.menu {
    width: 100%;
    height: 7%;
    background-color: rgb(0, 0, 0, 0.4);
}
.menu .box-menu {
    max-width: 70vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .box-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.box-sections {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}